<!DOCTYPE html>
<html>
  <head>
    <title>fishhook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript">
      window.fishbook_logo = "<%= asset_path('fishhook.png') %>"
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
